@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
html {
    margin: 0 auto;
    padding: 0;
    background-color: #e3f2fd;
}

/* HEADER */

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*POP-UP*/

/* button to open popup */

.create-btn {
    color: white;
    padding: 1rem;
    background-color: rgb(0, 0, 114);
    opacity: .8;
    border-radius: 1rem;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    top: 1rem;
    padding: 1rem 6rem;
    margin: 0;
    left: 30px;
    transition-property: left, opacity;
    transition-duration: .5s;
}

.create-btn:hover {
    left: -5px;
    opacity: 1;
}

#crt-click {
    display: none;
}

#crt-click:checked~.create-btn {
    display: none;
}

/* POP-UP CONTENT */

.to-do-app .pop-up {
    position: relative;
    width: max-content;
    padding: 2.5rem;
    z-index: 10;
    opacity: 0;
    top: -30rem;
    visibility: hidden;
    transition: .75s;
    background-color: #dcf1ff;
    border-radius: 1rem;
}

#crt-click:checked~.pop-up {
    opacity: 1;
    visibility: visible;
    left: 0;
    top: 8rem;
    display: block;
}

.to-do-app .input-field input {
    border: none;
    border-bottom: 2px solid black;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    transition: border-bottom linear .2s;
    margin-top: 40px;
    width: 15rem;
    display: block;
    background-color: rgba(0, 0, 0, 0);
}

.fas {
    position: relative;
    left: 15.2rem;
    bottom: 16rem;
    cursor: pointer;
    transition: .2s;
}

.fas:hover {
    font-size: 1.2rem;
    color: red;
}

.task-content {
    width: 20rem !important;
}

.task-date {
    width: 10rem !important;
    margin-bottom: 2rem;
}

.to-do-app .input-field input:focus {
    border-bottom: 2px solid green;
    transition: border-bottom linear .2s;
    outline: none;
}

.to-do-app .input-field input:focus::placeholder {
    transition: linear .2s;
    color: rgb(160, 4, 4);
}

.to-do-app .input-field .btn-add {
    border: none;
    color: white;
    background: #05B41C;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: font-size linear .2s;
    opacity: 1;
    transition: opacity linear .3s;
    cursor: pointer;
}

.to-do-app .pop-up .input-field .btn-add:hover {
    opacity: .8;
    transition: opacity linear .3s;
}

.to-do-app .pop-up .input-field .btn-close {
    position: relative;
    left: 11rem;
    border: none;
    color: white;
    background-color: rgb(214, 0, 0);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    cursor: pointer;
}

.to-do-app .pop-up .input-field .btn-close:hover {
    background-color: rgb(233, 2, 2);
    transition: linear .3s;
}

/* BODY - TASK LİST */

.task-list {
    font-family: 'Rubik', sans-serif;
    position: relative;
    bottom: 20rem;
    padding: 3rem;
    transition-duration: .7s;
    transition-timing-function: ease-out;
    transition-property: top;
}

#crt-click:checked~.task-list {
    top: 1rem;
}

#crt-click:checked~.task-list {
    opacity: 0;
}

/* taskList is moving to left with style codes on js file*/

/* that's main style */

.taskList {
    position: relative;
    top: 3rem;
    left: 0;
    transition: .7s;
    list-style: none;
}

li {
    /* margin-top: -15px; */
    transition: .5s;
    /* bottom: 7rem; */
}

li:hover {
    /* margin-bottom: 1.5rem; */
    /* margin-top: .5rem; */
}

.container {
    height: 10rem;
    position: relative;
    margin: 0 auto;
    cursor: default;
}

.box {
    background: #ebf5fc;
    box-shadow: -1px -3px 5px 2px rgba(0, 0, 0, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    max-height: max-content;
    padding: 1.8rem;
    width: 38rem;
    bottom: 2rem;
    left: 0;
    position: relative;
    transition: .5s;
}

.box:hover {
    box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.1);
}

.box:hover .content .task-h2 {
    font-size: 26px;
    letter-spacing: 1px;
}

.task-h2 {
    padding: 0;
    margin: 0;
    /* position: relative;
    left: 0;
    top: 0;
    width: 105px; */
    transition: .5s ;
}

.task-p {
    display: block;
    margin: 5px auto;
    margin-left: 5px;
}

.task-ex-date {
    position: relative;
    display: inline-block;
    left: 35rem;
    top: 1rem;
    z-index: 20;
}

#overlay {
    position: absolute;
    visibility: hidden;
    transition: 1.5s;
    transition-timing-function: ease-in-out;
}

#crt-click:checked~#overlay {
    visibility: visible;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #badcf5;
}

.map {
    position: absolute;
    left: -75rem;
    bottom: -5rem;
    height: 70%;
    top: 20%;
    width: 100%;
    border: 1px solid black;
    opacity: 0;
    transition: .7s;
}

.content {
    /* background-color: red !important; */
    /* border: 2px solid black; */
    border-radius: 1rem;
    overflow: hidden;
    min-width: 37rem;
    width: 80%;
    height: 4.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    bottom: .5rem;
    margin: 0;
    padding: 0;
}

/* READ MORE */

.content::after {
    content: '';
    width: 100%;
    height: 20px;
    background: linear-gradient(transparent -10px, #ebf5fc);
    position: absolute;
    top: 55px;
}

/* if you click 'Read More', 'active' will add to content's class. So content's class will be 'content active' */

.content.active::after {
    content: '';
    width: 100%;
    height: 800px;
    background: none;
}

.content.active {
    height: 100%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}

.more {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    bottom: .5rem;
}

li.active{
    margin-bottom: 4rem;
}

#read-more{
    font-weight: bold;
    padding: 5px 5px;
    transition: .5s;
}

#read-more:hover{
    letter-spacing: 2px;
}

/* CLİCK TO ANY TASK */

#task-click {
    display: none;
    margin: 0;
}

/* DELETE ALL */

#delete-all {
    opacity: 0;
}

.delete-all-btn {
    position: fixed;
    left: 1rem;
    bottom: 2rem;
    background-color: rgb(160, 4, 4);
    color: white;
    padding: 12px 22px;
    opacity: .8;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.delete-all-btn:hover {
    opacity: 1;
    font-size: 17px;
    padding: 13px 23px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.11);
}